.mainContent{
	width: 70%;
	border-radius: 10px;
	margin-left: 15%;
	margin-top: 120px;
	margin-bottom: 50px;
}
.mainContent h2{
	font-size: 60px;
	font-weight: 100;
	text-align: center;
	color: #00b92b;
}
.mainContent h5{
	font-weight: 100;
	text-align: center;
	color: #555555;
	font-size: 17px;
	margin-bottom: 50px;
}
.mainContent form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.mainContent form div{
	width: 50%;
	background: #fff;
	display: inherit;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	position: relative;
	margin: 2px;
}
.mainContent form input{
	width: 100%;
	background: #e6e6e6;
	height: 50px;
	margin-top: 10px;
	border-radius: 4px;
	padding-left: 15px;
	border-bottom: 3px solid #fff;
}

input[type = 'checkbox']{
	display: none;
}
label{
	display: block;
	margin-top: 20px;
	font-size: 15px;
	margin-left: 30px;
	cursor: pointer;
	user-select: none;
	position: absolute;
	left: 30px;
	top: 145px;
}
#forgotP{
	margin-left: auto;
	margin-top: 15px;
	font-size: 15px;
	text-decoration: underline;
}

label::after,
label::before{
	content: '';
	position: absolute;
	left: -30px;
	top: 0;
	width: 22px;
	height: 22px;
	background:  #e6e6e6;
	vertical-align: middle;
	transition:all ease  0.3s;
	border-radius: 2px;
}
label::after{
	background: #00b92b;
	width: 12px;
	height: 12px;
	top: 5px;
	left: -25px;
	transition: all ease 0.1s;
	transform: scale(0);
}
input[type='checkbox']:checked+label::after{
	transform: scale(1);
}

.mainContent input:focus{
	border-bottom: 3px solid #00b92b;
}
.mainContent input:focus::-webkit-input-placeholder{
	color: #00b92b;
}

.mainContent button{
	display: block;
	width: 100%;
	padding: 15px 50px;
	margin-top: 40px;
	letter-spacing: 1px;
	border-radius: 7px;
	font-size: 15px;
	border: 1px solid #a0a0a0;
	transition: all ease 0.2s;
	cursor: pointer;
}


.mainContent button:hover{
	background: #000;
	color: #00b92b;
	border-color: #00b92b;
}

form div h4{
	font-size: 30px;
	text-align: center;
}
form div:nth-child(2) a{
	background: #00b92b;
	color: #fff;
	margin-top: 40px;
	font-size: 20px;
	padding: 15px 30px;
	text-align: center;
	letter-spacing: 1px;
	border-radius: 7px;
	transition: all ease 0.2s;
}
form div:nth-child(2) a:hover{
	background: #000;
	color: #00b92b;
}

.forgotPForm{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(193, 193, 193, 0.7);
	z-index: 11;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	border-radius: 1000px;
}
.forgotPForm_active{
	transform: scale(1);
	border-radius: 0;
	transition: all ease 0.3s; 
}
.forgotPForm form p{
	font-size: 18px;
	text-align: center;
}
.forgotPForm form{
	position: absolute;
	background: #fff;
	box-shadow: 3px 3px 15px #636363;
	border-radius: 15px;
	padding: 30px 60px;
	flex-direction: column;
	width: 444px;
}
.forgotPForm form button{
	margin-top: 20px;
}

.closeForm{
	position: absolute;
	top: 15px;
	right: 15px;
	height: 30px;
	width: 30px;
	background: #000;
	cursor: pointer;
	border-radius: 5px;
}
.closeForm:after,
.closeForm:before{
	content: '';
	position: absolute;
	height: 2px;
	width: 20px;
	background: #fff;
	top: calc(50% - 1px);
	left: 5px;
	transform: rotate(43deg);
}
.closeForm:before{
	transform: rotate(-43deg);
}
.closeForm:hover{
	background: #f03e3e;
}