.myCart{
	position: relative;
	margin-top: 100px;
	width: 70%;
	left: 15%;
	margin-bottom: 50px;
	min-height: calc(100vh - 400px);
}
.myCart h2{
	font-size: 60px;
	font-weight: 100;
	text-align: center;
	color: #00b92b;
}

.myCart h2 a{
	text-decoration: underline;
}

.myData{
	margin-top: 30px;
}
.myData div{
	position: relative;
	height: 200px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #a9a9a9;
	margin-top: 20px;
}
.myData img{
	height: 180px;
	margin-left: 10px;
}
.myData h5{
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 100;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 15px;
	color: #00b92b;
}
.myData .productName{
	margin-left: 20px;
	font-size: 27px;
	width: 30%;
}
.myData .productName:hover{
	text-decoration: underline;
}
.description{
	position: absolute;
	top: 2px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	border-bottom: 1px solid #f03e3e;
}

.myData h4{
	font-size: 30px;
	margin-left: auto;
	margin-right: 60px;
}
.minus{
	right: 300px;
}

.plus{
	right: 230px;
}
.delBtn{
	left: auto;
	right: 10px;
}
.number{
	padding-top: 3px;
	margin-right: 2px;
	right: 260px;
}
.myCart form{
	position: relative;
	width: 100%;
	height: 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.myCart form p{
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
}
.myCart form input{
	height: 50px;
	width: 250px;
	border-radius: 50px;
	padding-left: 30px;
	margin-left: 30px;
	background: none;
	border: 1px solid #a0a0a0;
}

.myCart form button{
	position: relative;
	top: 0px;
	left: -50px;
	height: 50px;
	width: 50px;
	background: none;
	cursor: pointer;
}
.myCart form button img{
	width: 24px;
	position: absolute;
	top: 13px;
	left: 10px;
}
.myCart form button:hover img{
	animation: arrow 0.4s ease forwards;
}

@keyframes arrow{
	0%{ transform: translateX(0px); }
	30%{ transform: translateX(10px); }
	70%{ transform: translateX(0px); }
	100%{ transform: translateX(10px); }
}

form h4{
	font-size: 30px;
	margin-left: auto;
	margin-right: 20px;
}

.checkout{
	position: relative;
	width: 100%;
	border-top: 1px solid #8f8f8f;
	height: 150px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.checkout a:nth-child(1){
	font-size: 20px;
	margin-left: 20px;
	text-decoration: underline;
}
.checkout a:nth-child(2){
	margin-left: auto;
	margin-right: 20px;
	padding: 15px 70px;
	letter-spacing: 1px;
	border-radius: 7px;
	font-size: 15px;
	border: 1px solid #a0a0a0;
	transition: all ease 0.2s;
}
.checkout a:nth-child(2):hover{
	background: #000;
	color: #00b92b;
	border-color: #00b92b;
}
.checkout p{
	position: absolute;
	margin-top: 60px;
	right: 20px;
	color: #555454;
	text-align: right;
}


.backToBuy a{
	text-transform: uppercase;
	font-size: 40px;
	display: block;
	text-decoration: underline;
	text-align: center;
	margin-top: 30px;
}
.backToBuy a:hover{
	text-decoration: none;
}