.mainContent{
	width: 90%;
	border-radius: 10px;
	margin-left: 5%;
	margin-top: 120px;
	margin-bottom: 50px;
	min-height: calc(100vh - 400px);
}
.mainContent h2{
	font-size: 60px;
	font-weight: 100;
	text-align: center;
	color: #00b92b;
}

.mainContent h5{
	font-weight: 100;
	text-align: center;
	color: #555555;
	font-size: 17px;
	margin-top: 60px;	
	border-top: 1px solid #a0a0a0;
	border-bottom: 1px solid #a0a0a0;
	padding: 44px 0px;	
}

.singIn{	
	width: 100%;
	padding: 15px 40px;
	letter-spacing: 1px;
	margin-left: 30px;	
	border-radius: 7px;
	font-size: 15px;
	border: 1px solid #a0a0a0;
	transition: all ease 0.2s;
	cursor: pointer;	
}
.singIn:hover{
	background: #000;
	color: #00b92b;
	border-color: #00b92b;
}
.summary{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.mainContent form{
	width: 65%;
}

.mainContent h4{
	font-weight: 100;
	margin-top: 50px;
	letter-spacing: 1px;
	font-size: 18px;
	font-weight: 900;
}
.mainContent h4 span{
	color: #00b92b;
}
.mainContent form input{
	background: #fff;
	width: calc(50% - 30px);
	margin-right: 15px;
	height: 60px;
	margin-top: 25px;
	border-radius: 4px;
	padding-left: 15px;
	border-bottom: 3px solid #fff;
}
.mainContent form input::-webkit-input-placeholder{
	color: #000;
	font-weight: 900;
}


.mainContent input:focus{
	border-bottom: 3px solid #00b92b;
}
.mainContent input:focus::-webkit-input-placeholder{
	color: #00b92b;
}
input[type = 'checkbox'],
input[type = 'radio']{
	display: none;
}

label{
	display: inline-block;
	width: calc(50% - 30px);
	margin-right: 15px;
	padding-left: 35px;
	font-weight: 900;
	margin-top: 15px;
	font-size: 18px;
	cursor: pointer;
	user-select: none;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 2px;
}

label::after,
label::before{
	content: '';
	position: absolute;
	left: 0px;
	top: 0;
	width: 22px;
	height: 22px;
	background:  #fff;
	vertical-align: middle;
	transition:all ease  0.3s;
	border-radius: 2px;
}

label::after{
	background: #00b92b;
	width: 12px;
	height: 12px;
	top: 5px;
	left: 5px;
	transition: all ease 0.1s;
	transform: scale(0);
}
input[type='checkbox']:checked+label::after,
input[type='radio']:checked+label::after{
	transform: scale(1);
}

.resultBlock{
	width: 35%;
	position: relative;
}
.backToCart{
	display: inline-block;
	margin-top: 10px;
	font-size: 15px;
	font-weight: 600;
	text-decoration: underline;
	color: #f03e3e;
}
.backToCart:hover{
	text-decoration: none;
}
.result{
	margin-top: 20px;
}
.resultProduct{
	background: #fff;
	height: 80px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
	border-radius: 5px;
}
.resultProduct img{
	height: 74px;
	margin-top: 3px;
	margin-left: 3px;
}
.resultProduct a{
	font-weight: 100;
	font-size: 18px;
	width: 60%;
	margin-left: 10px;
}
.resultProduct a:hover{
	text-decoration: underline;
}
.resultProduct p{
	margin-right: 5px;
	display: block;
	margin-left: auto;
	font-weight: 900;
	font-size: 18px;
}

.check{
	border: 1px solid #a0a0a0;
	margin-top: 30px;
	padding: 5px 20px;
}
.check span{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
}

.check span p{
	margin-top: 15px;
	font-size: 20px;
	margin-left: auto;
}