.mainContent{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 222px 3% 70px 3%;
}

.mainContent h2{
	top: 0;
	font-size: 60px;
	font-weight: 100;
	text-align: center;
	color: #00b92b;
	margin-top: 120px;
	position: absolute;
}

.mainContent  div{
	background: #fff;
	min-height: 500px;
	width: 30%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 20px;
	border-bottom-left-radius: 40px;
	border-top-right-radius: 40px;
}


.mainContent  div img{
	width: 30%;
}
.mainContent  div h4{
	font-size: 30px;
	margin-top: 30px;
}
.mainContent  div p{
	position: relative;
	font-size: 19px;
	margin-bottom: 20px;
}
.mainContent  div p:after{
	content: '';
	position: absolute;
	bottom: -10px;
	left: 30%;
	width: 40%;
	height: 5px;
	background: #00b92b;
}
.mainContent h5{
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 100;
	margin-top: 10px;
	text-transform: uppercase;
}
.mainContent h5 a{
	display: block;
	letter-spacing: 0;
	font-size: 18px;
}
.mainContent span{
	position: relative;
	margin: 25px;
	padding: 15px 50px;
	border: 1px solid #727272;
	color: #727272;
	cursor: pointer;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	transition: all ease 0.2s;
	z-index: 1;
	overflow: hidden;
}
.mainContent span:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	transition: all ease 0.3s;
	transform: scaleY(0);
	transform-origin: bottom;
	z-index: -1;
}
.mainContent span:hover{
	color: #00b92b;
	border-color: #00b92b;
}
.mainContent span:hover:after{
	transform: scaleY(1);
}
.mainContent h6{
	font-weight: 100;
	font-size: 14px;
	color: #727272;
}

.forms{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(193, 193, 193, 0.7);
	z-index: 11;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	border-radius: 1000px;
}
.form_active,
.form1_active{
	transform: scale(1);
	border-radius: 0;
	transition: all ease 0.3s; 
}
.form_active .callForm{
	display: block;
}
.form1_active .messageForm{
	display: block;
}

.forms form{
	position: absolute;
	background: #fff;
	box-shadow: 3px 3px 15px #636363;
	border-radius: 15px;
	padding: 30px 60px;
	display: none;
}
.forms form input,
.forms form textarea{
	background: #e6e6e6;
	display: block;
	width: 300px;	
	height: 40px;
	margin-top: 5px;
	border-radius: 5px;
	padding:0px 10px;
	border-bottom: 3px solid #e6e6e6;
}
.forms form textarea{
	height: 120px;
}
.forms form button{
	position: relative;
	width: 100%;
	height: 50px;
	margin-top: 20px;
	border: 1px solid #727272;
	color: #727272;
	cursor: pointer;
	border-radius: 7px;
	transition: all ease 0.2s;
	overflow: hidden;	
}
.forms form button:hover{
	color: #00b92b;
	border-color: #00b92b;
	background: #000;
}

.forms form input:focus,
.forms form textarea:focus{
	border-bottom: 3px solid #00b92b;
}

textarea:focus::-webkit-input-placeholder,
input[type = 'text']:focus::-webkit-input-placeholder{
	color: #00b92b;
}



.closeForm{
	position: absolute;
	top: 15px;
	right: 15px;
	height: 30px;
	width: 30px;
	background: #000;
	cursor: pointer;
	border-radius: 5px;
}
.closeForm:after,
.closeForm:before{
	content: '';
	position: absolute;
	height: 2px;
	width: 20px;
	background: #fff;
	top: calc(50% - 1px);
	left: 5px;
	transform: rotate(43deg);
}
.closeForm:before{
	transform: rotate(-43deg);
}
.closeForm:hover{
	background: #f03e3e;
}