.mainContent{
	margin-top: 100px;
	padding-top: 100px;
	position: relative;
	margin-bottom: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.mainContent h2{
	position: absolute;
	top: 0;
	font-size: 60px;
	font-weight: 100;
	color: #00b92b;
}

.box{
	width: calc(50% - 50px);
	margin: 15px;
	background: #fff;
	padding: 30px;
	box-shadow: 3px 3px 15px #a3a3a3;
	border-radius: 10px;
}
.box h4{
	text-align: center;
	font-size: 25px;
	font-weight: 100;
}
.box img{
	height: 300px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 20px;
}
.box p{
	font-size: 18px;
	margin-bottom: 50px;
}
.box span{
	padding: 15px 50px;
	border: 1px solid #727272;
	color: #727272;
	transition: all ease 0.2s;
	border-radius: 7px;
	cursor: pointer;
}
.box span:hover{
	color: #00b92b;
	border-color: #00b92b;
	background: #000;
}


.formBox{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(193, 193, 193, 0.7);
	z-index: 11;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	border-radius: 1000px;
}
.formBox_active{
	transform: scale(1);
	border-radius: 0;
	transition: all ease 0.3s; 
}
.formBox form{
	position: absolute;
	background: #fff;
	box-shadow: 3px 3px 15px #636363;
	border-radius: 15px;
	padding: 30px 60px;
	max-width: 500px;
}
.formBox form p{
	margin-bottom: 10px;
	font-size: 17px;
	text-align: center;
}

.formBox form input{
	background: #e6e6e6;
	display: block;
	width: 100%;
	min-width: 300px;	
	height: 40px;
	margin-top: 5px;
	border-radius: 5px;
	padding:0px 10px;
	border-bottom: 3px solid #fff;
}
.formBox input:focus{
	border-bottom: 3px solid #00b92b;
}

.formBox input[type = 'text']:focus::-webkit-input-placeholder{
	color: #00b92b;
}

.formBox form button{
	position: relative;
	width: 100%;
	height: 50px;
	margin-top: 20px;
	border: 1px solid #727272;
	color: #727272;
	cursor: pointer;
	border-radius: 7px;
	transition: all ease 0.2s;
	overflow: hidden;	
}
.formBox form button:hover{
	color: #00b92b;
	border-color: #00b92b;
	background: #000;
}

.closeForm{
	position: absolute;
	top: 15px;
	right: 15px;
	height: 30px;
	width: 30px;
	background: #000;
	cursor: pointer;
	border-radius: 5px;
}
.closeForm:after,
.closeForm:before{
	content: '';
	position: absolute;
	height: 2px;
	width: 20px;
	background: #fff;
	top: calc(50% - 1px);
	left: 5px;
	transform: rotate(43deg);
}
.closeForm:before{
	transform: rotate(-43deg);
}
.closeForm:hover{
	background: #f03e3e;
}





@media screen and (max-width: 1000px){
	.mainContent{
	margin-top: 100px;
	padding-top: 100px;
	position: relative;
	margin-bottom: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.mainContent h2{
	position: absolute;
	top: 0;
	font-size: 33px;
	font-weight: 100;
	color: #00b92b;
}

.box{
	width: calc(100% - 50px);
	margin: 15px;
	background: #fff;
	padding: 30px;
	box-shadow: 3px 3px 15px #a3a3a3;
	border-radius: 10px;
}
.box h4{
	text-align: center;
	font-size: 25px;
	font-weight: 100;
}
.box img{
	height: auto;
	width: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 20px;
}
.box p{
	font-size: 18px;
	margin-bottom: 50px;
}
.box span{
	padding: 15px 50px;
	border: 1px solid #727272;
	color: #727272;
	transition: all ease 0.2s;
	border-radius: 7px;
	cursor: pointer;
}
.box span:hover{
	color: #00b92b;
	border-color: #00b92b;
	background: #000;
}


.formBox{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(193, 193, 193, 0.7);
	z-index: 11;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	border-radius: 1000px;
}
.formBox_active{
	transform: scale(1);
	border-radius: 0;
	transition: all ease 0.3s; 
}
.formBox form{
	position: absolute;
	background: #fff;
	box-shadow: 3px 3px 15px #636363;
	border-radius: 15px;
	padding: 30px 60px;
	max-width: 500px;
}
.formBox form p{
	margin-bottom: 10px;
	font-size: 17px;
	text-align: center;
}

.formBox form input{
	background: #e6e6e6;
	display: block;
	width: 100%;
	min-width: 300px;	
	height: 40px;
	margin-top: 5px;
	border-radius: 5px;
	padding:0px 10px;
	border-bottom: 3px solid #fff;
}
.formBox input:focus{
	border-bottom: 3px solid #00b92b;
}

.formBox input[type = 'text']:focus::-webkit-input-placeholder{
	color: #00b92b;
}

.formBox form button{
	position: relative;
	width: 100%;
	height: 50px;
	margin-top: 20px;
	border: 1px solid #727272;
	color: #727272;
	cursor: pointer;
	border-radius: 7px;
	transition: all ease 0.2s;
	overflow: hidden;	
}
.formBox form button:hover{
	color: #00b92b;
	border-color: #00b92b;
	background: #000;
}

.closeForm{
	position: absolute;
	top: 15px;
	right: 15px;
	height: 30px;
	width: 30px;
	background: #000;
	cursor: pointer;
	border-radius: 5px;
}
.closeForm:after,
.closeForm:before{
	content: '';
	position: absolute;
	height: 2px;
	width: 20px;
	background: #fff;
	top: calc(50% - 1px);
	left: 5px;
	transform: rotate(43deg);
}
.closeForm:before{
	transform: rotate(-43deg);
}
.closeForm:hover{
	background: #f03e3e;
}
}