.about_section{
    padding: 10px;
}

.about{
    padding: 30px;
    background: var(--bg1);
    margin-top: 10px;
    border-radius: 10px;
}

.about video{
    width: 100%;
    border-radius: 10px;
}

.about p{
    margin-top: 20px;
    line-height: 30px;
}

.about ul{
    margin: 30px 0;
    font-size: 16px;
    line-height: 30px;
}

.about ul li{
    list-style: initial;
    margin-left: 40px;
    font-size: 14px;
}

.about ul h4{
    color: var(--text1);
}

.about h5{
    line-height: 20px;
}

.about a{
    display: inline-block;
    margin-top: 30px;
    padding: 14px 30px;
    text-align: center;
    background: var(--text);
    color: var(--bg1);
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: ease 0.3s;
}


.about a:hover{
    background: var(--green);
}