.checkout_section{
    padding: 10px;
}

.login_link{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    background: var(--bg1);
    border-radius: 10px;
    margin: 10px 0;
}


.login_link a{
    border: 2px solid var(--text);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 13px 30px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: ease 0.3s;
}

.login_link a:hover{
    background: var(--bg);
    color: var(--green);
    border-color: var(--green);
}



.checkout{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.checkout_form{
    border-radius: 10px;
    padding: 30px;
    background: var(--bg1);
    width: calc(100% - 340px);
}

.checkout_form h4,
.checkout_info h4{
    font-size: 16px;
    font-weight: 700;
    color: var(--text1);
    width: 100%;
}

.checkout_form h4 span,
.checkout_info h4 span{
    color: var(--green);
}

.form_box{
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}



.form_box input{
    width: calc(50% - 10px);
    margin-top: 20px;
    height: 50px;
    background: var(--bg);
    border: 2px solid var(--bg);
    font-size: 14px;
    padding: 0 10px;
    border-radius: 10px;
    transition: ease 0.3s;
}

.form_box input:nth-child(odd){
    margin-left: auto;
}

.form_box input:focus{
    border-color: var(--green);
}


input[type = 'checkbox'],
input[type = 'radio']{
	display: none;
}

.form_box label{
	display: inline-block;
    padding-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    font-size: 18px;
	cursor: pointer;
	user-select: none;
	position: relative;
}

.form_box label::after,
.form_box label::before{
	content: '';
	position: absolute;
	left: 0px;
	top: 0;
	width: 22px;
	height: 22px;
	background:  var(--bg);
	vertical-align: middle;
	transition:all ease  0.3s;
	border-radius: 3px;
}

.form_box label::after{
	background: var(--green);
	width: 12px;
	height: 12px;
	top: 5px;
	left: 5px;
	transition: all ease 0.1s;
	transform: scale(0);
}
input[type='checkbox']:checked+label::after,
input[type='radio']:checked+label::after{
	transform: scale(1);
}


.checkout_form button{
    display: block;
    background: var(--text);
    color: var(--bg1);
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 10px;
    text-align: center;
    padding: 14px 30px;
    transition: ease 0.3s;
    cursor: pointer;
}

.checkout_form button:hover{
    background: var(--green);
}




.checkout_info{
    width: 330px;
    position: sticky;
    top: 90px;
    padding: 30px;
    border-radius: 10px;
    background: var(--bg1);
}


.checkout_data_item:nth-child(1) {
    margin-top: 20px;
}

.checkout_data_item{
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
}

.checkout_data_item:nth-child(odd) {
    background: var(--bg);
}

.checkout_data_item a{
    color: var(--text1);
    margin-right: auto;
}

.checkout_data_item a:hover{
    color: var(--green);
}

.checkout_data_item p{
    min-width: 50px;
    margin-left: 10px;
    text-align: right;
}

.checkout_data_total_price{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    background: var(--bg);
}

.checkout_data_total_price span{
    color: var(--green);
}

.checkout_data_total_price p{
    font-size: 16px;
}






@media screen and (max-width: 1000px){
    
    .login_link a{
        width: 100%;
        display: inline-block;
        margin-top: 10px;
    }

    .checkout{
        flex-direction: column-reverse;
    }
    

    .checkout_form{
        width: 100%;
    }
    
    
    .form_box input{
        width: 100%;
    }
    
    .checkout_form button{
        width: 100%;
    }
    
    .checkout_form button:hover{
        background: var(--green);
    }
    
    
    
    
    .checkout_info{
        width: 100%;
        position: static;
        margin-bottom: 10px;
    }
}