.login_section{
    padding: 10px;
}

.login_boxes{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.login_box{
    width: calc(50% - 5px);
    padding: 30px;
    background: var(--bg1);
    border-radius: 10px;
}

.login_box form{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}


.login_box form button{
    display: inline-block;
    background: var(--text);
    color: var(--bg1);
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 10px;
    text-align: center;
    padding: 14px 10px;
    width: calc(50% - 10px);
    transition: ease 0.3s;
    cursor: pointer;
    margin-top: 10px;
}

.login_box form button:hover{
    background: var(--green);
}

.login_box form input{
    width: calc(50% - 10px);
    height: 50px;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: var(--bg);
    border: 2px solid var(--bg);
    transition: ease 0.3s;
}

.login_box form input:focus{
    border: 2px solid var(--green);
}




input[type = 'checkbox'],
input[type = 'radio']{
	display: none;
}


.login_box label{
	display: inline-block;
    padding-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    font-size: 18px;
	cursor: pointer;
	user-select: none;
	position: relative;
}

.login_box label::after,
.login_box label::before{
	content: '';
	position: absolute;
	left: 0px;
	top: 0;
	width: 22px;
	height: 22px;
	background:  var(--bg);
	vertical-align: middle;
	transition:all ease  0.3s;
	border-radius: 3px;
}

.login_box label::after{
	background: var(--green);
	width: 12px;
	height: 12px;
	top: 5px;
	left: 5px;
	transition: all ease 0.1s;
	transform: scale(0);
}
input[type='checkbox']:checked+label::after,
input[type='radio']:checked+label::after{
	transform: scale(1);
}


.login_box.reg_box p{
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}

.login_box.reg_box a{
    display: block;
    margin-top: 20px;
    padding: 14px 10px;
    width: calc(50% - 10px);
    text-align: center;
    background: var(--text);
    color: var(--bg1);
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: ease 0.3s;
}

.login_box.reg_box a:hover{
    background: var(--green);
}


@media screen and (max-width: 1000px){
    .login_box{
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 700px) {
    .login_box form input{
        width: 100%;
    }

    .login_box form button{
        width: 100%;
        margin-top: 20px;
    }
    .login_box.reg_box a{
        width: 100%;
    }
}