.product_data{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 10px;
    width: 100%;
    height: calc(100vh - 80px);
    margin-top: 80px;
    position: relative;
}


.product_gallery{
    height: 80%;
    width: 17vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.product_gallery .gallery_item{
    height: calc(25% - 10px);
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--bg1);
    border-radius: 5px;
    transition: ease 0.3s;
}


.product_gallery .gallery_item:hover{
    background: var(--bg);
}

.product_gallery .gallery_item img{
    max-width: 80%;
    max-height: 80%;
    pointer-events: none;
}


.product_title{
    position: absolute;
    top: 0;
    left: 40%;
    transform: translate(-50%, -20%);
    color: var(--bg1);
    z-index: -1;
    font-size: 10vw;
}

.product_img{
    width: calc(100% - 17vh - 370px);
    height: 80%;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 10px;
}

.product_img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    max-height: 70%;
}



.product_info{
    width: 350px;
    height: calc(100vh - 100px);
    background: var(--bg1);
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: ease 0.3s;
}

.product_info_bar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product_info .bar_title{
    width: 100%;
}

.product_info_container{
    overflow-y: hidden;   
    height: 100%;
    position: relative;
    background: var(--bg);
    border-radius: 10px;
}

.product_info_container::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 20%;
    background: linear-gradient(transparent, var(--bg1));
    pointer-events: none;
}

.product_info_container ul{
    overflow-y: auto;
    height: 100%;
    padding: 10px 10px 20% 10px;
}

.product_info_container ul li{
    margin-bottom: 15px;
    line-height: 20px;
    font-size: 15px;
}

.product_info_container ul li p span{
    font-weight: 700;
    font-size: 14px;
    color: var(--green);
}

.product_info_container ul li:nth-child(1),
.product_info_container ul li:nth-child(2),
.product_info_container ul li:nth-child(3) {
    color: var(--text1);
    line-height: 15px;
    font-size: 12px;
}


.product_info .product_add_btn{
    background: var(--text);
    color: var(--bg1);
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    transition: ease 0.3s;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
}

.product_info .product_add_btn:hover{
    background: var(--green);
}



.container_hide .product_info{
    filter: grayscale(1) opacity(0.4);
    background: var(--bg);
}


.product_panel{
    width: calc(100% - 360px);
    height: calc(20% - 20px);
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: var(--bg1);
    border-radius: 10px;
}

.product_panel h2{
    font-size: 25px;
    width: 30%;
}

.product_panel .panel{
    display: flex;
}

.product_panel .panel .plus_btn,
.product_panel .panel .minus_btn{
    background: var(--bg);
}


.product_price{
    min-width: 200px;
}

.product_price div{
    color: var(--text1);
    text-align: right;
}

.product_price div span{
    font-size: 22px;
    color: var(--text);
}



.tegs{
    width: 100%;
    margin: 30px 10px;
    padding: 30px;
}

.tegs h4{
    color: var(--text1);
}

.teg{
    display: inline-block;
    background: var(--bg1);
    margin: 10px 10px 0 0;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: ease 0.3s;
}

.teg_active{
    color: var(--bg1);
    background: var(--text);
}



@media screen and (max-width: 1000px){
    .product_data{
        height: auto;
    }
    .product_gallery{
        flex-direction: row;
        width: 100%;
        height: 20vw;
        padding: 10px;
        margin: 20px 0;
    }

    .product_gallery .gallery_item{
        width: calc(25% - 10px);
        height: 100%;
        margin: 0 10px;
    }

    .product_img{
        height: 300px;
        width: 100%;
        margin-top: 30px;
    }

    .product_title{
        position: static;
        transform: translateX(0);
        width: 100%;
        text-align: center;
        font-size: 15vw;
    }

    .product_info{
        position: static;
        width: 100%;
    }

    .product_panel{
        width: 100%;
        justify-content: center;
        margin-top: 20px;
        padding: 30px;
    }

    .product_panel h2{
        width: 100%;
        text-align: center;
    }

    .product_panel .panel{
        width: 100%;
        justify-content: center;
        margin: 20px 0;
    }
    

    .product_price{
        min-width: auto;
    }
    .product_price div{
        text-align: center;
    }

    .tegs{
        padding: 0px;
    }
}