.registration_section{
    padding: 10px;
}

.registration_section form{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 10px;
}

.registration_box{
    width: calc(50% - 5px);
    background: var(--bg1);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.registration_box input{
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background: var(--bg);
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid var(--bg);
    transition: ease 0.3s;
}

.registration_box input:focus{
    border-color: var(--green);
}




input[type = 'checkbox'],
input[type = 'radio']{
	display: none;
}


.registration_box label{
	display: inline-block;
    padding-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    font-size: 18px;
	cursor: pointer;
	user-select: none;
	position: relative;
}

.registration_box label::after,
.registration_box label::before{
	content: '';
	position: absolute;
	left: 0px;
	top: 0;
	width: 22px;
	height: 22px;
	background:  var(--bg);
	vertical-align: middle;
	transition:all ease  0.3s;
	border-radius: 3px;
}

.registration_box label::after{
	background: var(--green);
	width: 12px;
	height: 12px;
	top: 5px;
	left: 5px;
	transition: all ease 0.1s;
	transform: scale(0);
}
input[type='checkbox']:checked+label::after,
input[type='radio']:checked+label::after{
	transform: scale(1);
}


.registration_box button{
    display: block;
    margin-top: 20px;
    padding: 14px 10px;
    width: calc(50% - 10px);
    text-align: center;
    background: var(--text);
    color: var(--bg1);
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: ease 0.3s;
    cursor: pointer;
}

.registration_box button:hover{
    background: var(--green);
}


.registration_box a{
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
}

.registration_box a:hover{
    color: var(--red);
    text-decoration: underline;
}


@media screen and (max-width: 1000px){
    .registration_box{
        width: 100%;
        margin-bottom: 10px;
    }
}